* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
  -ms-overflow-style: none;
  overflow: auto;
}
body {
  scroll-behavior: smooth; /* 부드러운 스크롤 활성화 */
  font-family: "NanumSquareRound";
  font-size: 1rem;
  /* background-color: #fffcc9; */
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 360px !important;
  word-break: keep-all;
  line-height: 1.4;
  letter-spacing: -0.7px;
  color: #000;
  font-weight: 400;
}
.wrap{
  position: relative;
}
/* SCROLL */
::-webkit-scrollbar {
  width: 0px;
}

