/* 베스트 */
.best{
    width: 100vw;
    /* height: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: 5vw;
}
.best-title{
    width: 50vw;
    text-align: center;
    /* height: 10.4166vh; */
    font-size: 3.8vw;
    color: #39c283;
    font-family: 'yg-jalnan';
    margin: 5vw auto;
    margin-bottom: 1vw;
}
.best-subtitle{
    text-align: center;
    font-size: 2.5vw;
    padding-bottom: 3vw;
    color: #333;
}
.swipertotalwrap{
    position: relative;
    padding: 0 50px;
}
.best-slide{
    height: auto;
    z-index: 999;
}
.best-swiper-slide{
    display: flex;
    justify-content: center;
}
.bestNextButton,
.bestPrevButton{
    color: #39c283;
}
.best-slide img{
    width: 20vw;
    width: 100%;
    height: 100%;
}
