/* 베스트 */
.best{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.best-title{
    width: 50vw;
    text-align: center;
    height: 10.4166vh;
    font-size: 4.375rem;
    color: #39c283;
    font-family: 'yg-jalnan';
    margin: 50px auto;
    margin-bottom: 20px;
}
.best-subtitle{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    color: #333;
}
.best-slide{
    height: auto;
}
.best-slide-wrap{
    height: auto;
}
.best-swiper-slide{
    height: auto;
}
.bestNextButton,
.bestPrevButton{
    color: #39c283;
}