.footer {
  width: 100%;
  height: 5.20833333vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p,
.footer a {
  color: #fff;
  font-size: 0.88541667vw;
}
.copylight {
  margin-left: 4.6875vw;
}
.sns-wrap {
  margin-right: 4.6875vw;
  width: 9.375vw;
  position: relative;
  display: flex;
}
.sns-wrap li {
  margin: 0.52083333vw;
}
