/* 굿즈 */
.goods {
  width: 100%;
  height: auto;
  background-color: #f0f4ff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.goods-box {
  width: 1460px;
  height: auto;
  position: relative;
  display: flex;
  z-index: 3;
}
.goods-box-main {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}
.goods-box-1 {
  width: 640px;
  height: 640px;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 120px;
  z-index: 3;
  background: url("../images/newjeans_goods1.jpg") no-repeat center;
  background-size: 640px, auto;
  transition: background 1s ease-in-out;
}
.goods-box-1:hover {
  width: 640px;
  height: 640px;
  background: url("../images/newjeans_goods_ecobag_ver1.jpg") center left
      no-repeat,
    url("../images/newjeans_goods_ecobag_ver2.jpg") center right no-repeat;
  background-size: 50% auto, 50% auto;
  border-radius: 50%;
}
.goods-box-sub {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  z-index: 3;
}
.goods-box-2 {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 20px;
  z-index: 3;
  background: url("../images/newjeans_goods2.jpg") no-repeat center;
  background-size: 320px auto;
  transition: background 1s ease-in-out;
}
.goods-box-2:hover {
  width: 320px;
  height: 320px;
  background: url("../images/newjeans_goods_ecobag_ver1.jpg") center left
      no-repeat,
    url("../images/newjeans_goods_ecobag_ver2.jpg") center right no-repeat;
  background-size: 50% auto, 50% auto;
  border-radius: 50%;
}
.goods-box-3 {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 20px;
  z-index: 3;
  background: url("../images/newjeans_goods3.jpg") no-repeat center;
  background-size: 320px auto;
  transition: background 1s ease-in-out;
}
.goods-box-3:hover {
  width: 320px;
  height: 320px;
  background: url("../images/newjeans_goods_ecobag_ver1.jpg") center left
      no-repeat,
    url("../images/newjeans_goods_ecobag_ver2.jpg") center right no-repeat;
  background-size: 50% auto, 50% auto;
  border-radius: 50%;
}
.goods-box-4 {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 20px;
  z-index: 3;
  background: url("../images/newjeans_goods4.jpg") no-repeat center;
  background-size: 320px auto;
  transition: background 1s ease-in-out;
}
.goods-box-4:hover {
  width: 320px;
  height: 320px;
  background: url("../images/newjeans_goods_ecobag_ver1.jpg") center left
      no-repeat,
    url("../images/newjeans_goods_ecobag_ver2.jpg") center right no-repeat;
  background-size: 50% auto, 50% auto;
  border-radius: 50%;
}
.goods-box-5 {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 20px;
  z-index: 3;
  background: url("../images/newjeans_goods5.jpg") no-repeat center;
  background-size: 320px auto;
  transition: background 1s ease-in-out;
}
.goods-box-5:hover {
  width: 320px;
  height: 320px;
  background: url("../images/newjeans_goods_ecobag_ver1.jpg") center left
      no-repeat,
    url("../images/newjeans_goods_ecobag_ver2.jpg") center right no-repeat;
  background-size: 50% auto, 50% auto;
  border-radius: 50%;
}

/* 뒷배경 효과 */
.cover1 {
  position: absolute;
  top: 50%;
  left: 84%;
  width: 100%;
  transform: rotate(35deg);
  z-index: 1;
}
.cover1 p {
  color: #4867ca;
  font-size: 50px; /* 텍스트 크기를 px로 지정 */
  font-family: "yg-jalnan";
  z-index: -1;
}
.cover2 {
  position: absolute;
  bottom: 50%;
  right: 84%;
  width: 100%;
  transform: rotate(35deg);
  z-index: 1;
}
.cover2 p {
  color: #4867ca;
  font-size: 50px; /* 텍스트 크기를 px로 지정 */
  font-family: "yg-jalnan";
  z-index: -1;
}
/* 드래그 방지 */
#non-select {
  user-select: none;
}
