.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.16666667vw;
  width: 100%;
  height: 5.20833333vw;
  z-index: 999;
  transition: all 0.5s;
}
.logo {
  position: relative;
  width: 10.41666667vw;
  height: 5.20833333vw;
  background: url("../images/logo.png") no-repeat center;
  background-size: 10.41666667vw auto;
  transition: all 0.5s;
}
.nav {
  display: block;
}
.gnb {
  display: flex;
  margin-right: -1.77083333vw;
  transition: all 0.5s;
}
.gnb > li > a {
  display: block;
  padding: 0 1.77083333vw;
  line-height: 5.20833333vw;
  font-size: 0.9375vw;
  font-weight: 900;
  color: #000;
  transition: line-height 0.5s, padding 0.5s;
}
.gnb > li > a > span {
  position: relative;
}
.gnb > li > a:hover {
  color: #3ac284;
}
.gnb > li > a > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.26041667vw;
  width: 0;
  opacity: 0;
  height: 0.10416667vw;
  background-color: #000;
  transition: width 0.5s, opacity 0.5s;
}
.gnb > li > a:hover > span::after {
  opacity: 1;
  width: 100%;
  background-color: #3ac284;
}
/* 모바일 메뉴 */
.mbt {
  position: absolute;
  display: none;
  right: 1.04166667vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5625vw;
  height: 1.14583333vw;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.mbt span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 0.10416667vw;
  background-color: #000;
  transition: background 0.3s;
}
.mbt.active span {
  background-color: #222 !important;
}
.mbt span:nth-child(1) {
  top: 0;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(1) {
  transform: rotate(45deg) !important;
}
.mbt span:nth-child(2) {
  top: 50%;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(2) {
  opacity: 0 !important;
}
.mbt span:nth-child(3) {
  top: 100%;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(3) {
  transform: rotate(-45deg) !important;
}
/* 모바일 gnb */
.nav-mb {
  position: absolute;
  top: 4.54583333vw;
  left: 100%;
  display: block;
  width: 20%;
  height: calc(100vh - 4.08583333vw);
  background-color: #fff;
  opacity: 0;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-mb.active {
  left: 83% !important;
  opacity: 1 !important;
}
.nav-mb-gnb li {
  line-height: 3.48958333vw;
}
.nav-mb-gnb li a {
  display: block;
  padding: 0 2.08333333vw;
  font-size: 1.25vw;
  color: #222;
  border-bottom: 0.05208333vw solid #e5e5e5;
}


/* 반응형 */
@media all and (max-width: 1280px) {
  .header {
    padding: 0 3.125vw;
  }
  .logo {
    margin-left: -0.78125vw;
  }
  .gnb {
    margin-right: -1.35416667vw;
  }
  .gnb > li > a {
    padding: 0 1.35416667vw;
  }
  .mbt span {
    width: 100%;
    height: 0.10416667vw;
  }
}
@media all and (max-width: 1024px) {
  .gnb {
    margin-right: -1.35416667vw;
  }
}
@media all and (max-width: 960px) {
  .logo{
    margin-left: -1.9vw;
  }
  .gnb {
    display: none;
  }
  .mbt span {
    width: 100%;
    height: 0.0816667vw;
  }
  .mbt {
    display: block;
    width: 1.5625vw;
    height: 1.14583333vw;
    margin-top: -0.8vw;
}
}
@media all and (max-width: 360px) {
  .mbt span {
    width: 100%;
    height: 0.1416667vw;
  }
  .mbt {
    display: block;
    width: 2.0625vw;
    height: 1.64583333vw;
}
}

/* @media all and (max-width: 1920px) {
}
@media all and (max-width: 1680px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
} */
