navi {
    scroll-behavior: smooth; /* 부드러운 스크롤 활성화 */
    z-index: 99999;
    background-color: transparent;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 10.41666667vw;
    height: auto;
    margin-right: 1.04166667vw;
    overflow-y: auto;
    text-align: right;
}
navi ul {
    list-style: none;
    padding: 0;
}

navi ul li {
    padding: 0.26041667vw;
    border-radius: 50%;
}

navi ul li a {
    text-decoration: none;
    color: #000;
}
navi ul li a::after{
    content: "·";
    color: #000;
    width: 0.26041667vw;
    height: 0.10416667vw;
    opacity: 1;
}
navi ul li a .hover-text {
    margin-right: 0.52083333vw;
    opacity: 0; /* 초기에는 숨김 */
    color: #000;
    padding: 0.26041667vw;
    border-radius: 0.15625000vw;
    transition: opacity 0.3s; /* 호버 시에 투명도 전환 효과 */
}

navi ul li a:hover .hover-text {
    opacity: 1; /* 호버 시에 보이도록 변경 */
}
#section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}