.vision-1 {
  width: 100%;
  height: 960px;
}

/* vision-1 */
.vision-1-title {
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  animation: vTitle 2s;
}
@keyframes vTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.vision-1-title h3 {
  font-size: 70px;
  color: #39c283;
  font-family: "yg-jalnan";
}
.vision-1-title h3::before {
  content: "“"; /* 왼쪽 따옴표 */
}
.vision-1-title h3::after {
  content: "”"; /* 오른쪽 따옴표 */
}
.vision-1-title p {
  color: #000;
  font-size: 40px;
  font-family: "NanumSquareRound";
}
.vision-1-cont {
  background-color: #f7ffef;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 35px;
  border-radius: 100px;
}
/* .vision-1-cont-1 {
} */
.vision-1-cont-1 span {
  color: #39c283;
  text-decoration: underline;
  font-size: 50px;
  font-weight: 600;
}
/* .vision-1-cont-2 {
} */
.vision-1-cont-2 span {
  color: #39c283;
}

/* vision-2 */
.vision-2 {
  width: 100%;
  height: 960px;
  position: relative;
  text-align: center;
  padding-top: 60px;
  /* overflow: hidden; */
}
.vision-2 img {
  position: absolute;
  top: -100px;
  left: -400px;
  scale: 1;
  width: 60%;
  transform: rotate(30deg);
  /* transition: transform 0.5s; */
  /* animation: earthAni 1s ease 0 infinite; */
}
.vision-2 .img-active {
  animation: earthAni 15s infinite;
}

@keyframes earthAni {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-210deg);
  }
  100% {
    transform: rotate(-390deg);
  }
}
.vision-2-title h3 {
  font-size: 73px;
  color: #39c283;
  font-family: "yg-jalnan";
}

.vision-2-cont {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 55px;
  width: 900px;
  height: 500px;
  overflow: hidden;
}
.vision-2-cont > div {
  /* display: none;  */
}
.vision-2-cont-1 {
  width: 900px;
  height: 500px;
}
.vision-2-cont-2 {
  width: 900px;
  height: 500px;
}
.vision-2-cont-3 {
  width: 900px;
  height: 500px;
}
