/* 공통요소 */
.clearfix::after {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
.inner {
    position: relative;
    width: 1460px;
    height: 960px;
    border-bottom: solid 1px #000; /* 구분용 선 마지막에 없애기*/
    margin: 0 auto;
}
